$icomoon-font-path: "fonts" !default;

$sc-inbox-download: \e9b9;
$sc-manual: \e9b8;
$sc-qty-minus: \e9b5;
$sc-qty-plus: \e971;
$sc-Dashboard: \e96e;
$sc-logo-chequer: \e95d;
$sc-logo-chequer-R: \e95e;
$sc-logo-chequer-L: \e95c;
$sc-object-panel: \e958;
$sc-sqlgate-path1: \e951;
$sc-sqlgate-path2: \e969;
$sc-sqlgate-path3: \e96a;
$sc-sqlgate-path4: \e96b;
$sc-sqlgate-path5: \e96c;
$sc-add-panel-plsql: \e938;
$sc-copy: \e953;
$sc-cut: \e954;
$sc-indent: \e955;
$sc-outdent: \e956;
$sc-paste: \e957;
$sc-move-down: \e952;
$sc-tran-commit: \e947;
$sc-tran-rollback: \e948;
$sc-panel-view-column: \e937;
$sc-add-panel-sql: \e94f;
$sc-add-panel: \e950;
$sc-spinner: \e94e;
$sc-functions: \e949;
$sc-procedures: \e94a;
$sc-tables: \e94b;
$sc-triggers: \e94c;
$sc-views: \e94d;
$sc-unplug: \e945;
$sc-plug: \e946;
$sc-align-multirow: \e904;
$sc-align-onerow: \e905;
$sc-antwiz: \e906;
$sc-bookmark-list: \e907;
$sc-bookmark: \e908;
$sc-close-invert: \e909;
$sc-close: \e90a;
$sc-config: \e90b;
$sc-connect: \e90c;
$sc-database: \e90d;
$sc-disconnect: \e90e;
$sc-edit: \e90f;
$sc-filter: \e910;
$sc-folder-open: \e911;
$sc-folder: \e912;
$sc-function: \e913;
$sc-help: \e914;
$sc-history: \e915;
$sc-index: \e916;
$sc-info: \e917;
$sc-key: \e918;
$sc-list-more: \e919;
$sc-minus: \e91a;
$sc-more: \e91b;
$sc-move-end-page: \e91c;
$sc-move-first-page: \e91d;
$sc-move-next-page: \e91e;
$sc-move-next-row: \e91f;
$sc-move-prev-page: \e920;
$sc-move-prev-row: \e921;
$sc-move-up: \e922;
$sc-new: \e923;
$sc-panel-view-stack: \e924;
$sc-panel-view-window: \e925;
$sc-pause-invert: \e926;
$sc-pause: \e927;
$sc-play-invert: \e928;
$sc-play2: \e929;
$sc-plus: \e92a;
$sc-preplay: \e92b;
$sc-procedure: \e92c;
$sc-redo: \e92d;
$sc-refresh2: \e92e;
$sc-reload: \e92f;
$sc-run-planview: \e930;
$sc-run-sql: \e931;
$sc-save: \e932;
$sc-search: \e933;
$sc-session: \e934;
$sc-sort-asc: \e935;
$sc-sort-desc: \e936;
$sc-stop-invert: \e939;
$sc-stop: \e93a;
$sc-table: \e93b;
$sc-terminal: \e93c;
$sc-tree-addnode: \e93d;
$sc-tree-removenode: \e93e;
$sc-tree: \e93f;
$sc-trigger: \e940;
$sc-undo: \e941;
$sc-update: \e942;
$sc-user: \e943;
$sc-view: \e944;
$sc-cogs: \e96f;
$sc-mail-checked: \e97b;
$sc-one-finger: \e900;
$sc-diamond: \e95f;
$sc-spinner2: \e9b2;
$sc-grid-alt: \e97d;
$sc-play: \e966;
$sc-key2: \e98d;
$sc-enter: \ea13;
$sc-exit: \ea14;
$sc-list: \e975;
$sc-triangle-down: \e901;
$sc-information-outline: \e97a;
$sc-globe: \e970;
$sc-user-solid-circle: \e967;
$sc-download: \e968;
$sc-news-paper: \e902;
$sc-credit-card: \e903;
$sc-arrow-down: \e97e;
$sc-arrow-right: \e9b3;
$sc-chevron-down: \e97f;
$sc-corner-down-right: \e980;
$sc-map: \e981;
$sc-map-pin: \e982;
$sc-maximize: \e983;
$sc-maximize-2: \e984;
$sc-menu: \e985;
$sc-message-circle: \e986;
$sc-message-square: \e987;
$sc-more-horizontal: \e988;
$sc-more-vertical: \e989;
$sc-move: \e98a;
$sc-music: \e98b;
$sc-navigation: \e98c;
$sc-navigation-2: \e98e;
$sc-octagon: \e98f;
$sc-phone-missed: \e990;
$sc-phone-off: \e991;
$sc-phone-outgoing: \e992;
$sc-pie-chart: \e993;
$sc-play3: \e994;
$sc-play-circle: \e995;
$sc-plus2: \e996;
$sc-rewind: \e997;
$sc-rotate-ccw: \e998;
$sc-rotate-cw: \e999;
$sc-rss: \e99a;
$sc-save2: \e99b;
$sc-scissors: \e99c;
$sc-search2: \e99d;
$sc-shuffle: \e99e;
$sc-sidebar: \e99f;
$sc-skip-back: \e9a0;
$sc-skip-forward: \e9a1;
$sc-slack: \e9a2;
$sc-slash: \e9a3;
$sc-sliders: \e9a4;
$sc-tag: \e9a5;
$sc-target: \e9a6;
$sc-terminal2: \e9a7;
$sc-thermometer: \e9a8;
$sc-thumbs-down: \e9a9;
$sc-thumbs-up: \e9aa;
$sc-toggle-left: \e9ab;
$sc-type: \e9ac;
$sc-umbrella: \e9ad;
$sc-underline: \e9ae;
$sc-unlock: \e9af;
$sc-upload: \e9b0;
$sc-upload-cloud: \e9b1;
$sc-user2: \e9b6;
$sc-account_box: \e851;
$sc-account_circle: \e853;
$sc-adb: \e60e;
$sc-add: \e145;
$sc-add_a_photo: \e439;
$sc-add_box: \e146;
$sc-add_circle: \e147;
$sc-control_point: \e3ba;
$sc-android: \e859;
$sc-arrow_back: \e5c4;
$sc-arrow_downward: \e5db;
$sc-arrow_drop_down: \e5c5;
$sc-arrow_drop_down_circle: \e5c6;
$sc-arrow_drop_up: \e5c7;
$sc-arrow_forward: \e5c8;
$sc-arrow_upward: \e5d8;
$sc-attach_file: \e226;
$sc-attachment: \e2bc;
$sc-border_color: \e22b;
$sc-bug_report: \e868;
$sc-call_to_action: \e06c;
$sc-cancel: \e5c9;
$sc-check: \e5ca;
$sc-check_box: \e834;
$sc-check_box_outline_blank: \e835;
$sc-check_circle: \e86c;
$sc-chrome_reader_mode: \e86d;
$sc-close2: \e5cd;
$sc-code: \e86f;
$sc-content_copy: \e14d;
$sc-content_cut: \e14e;
$sc-content_paste: \e14f;
$sc-create_new_folder: \e2cc;
$sc-payment: \e8a1;
$sc-date_range: \e9b7;
$sc-delete_forever: \e959;
$sc-not_interested: \e033;
$sc-do_not_disturb_alt: \e611;
$sc-drafts: \e151;
$sc-error: \e000;
$sc-error_outline: \e001;
$sc-insert_invitation: \e24f;
$sc-event_available: \e614;
$sc-event_busy: \e615;
$sc-event_note: \e616;
$sc-exit_to_app: \e879;
$sc-extension: \e87b;
$sc-fiber_new: \e05e;
$sc-commit: \e884;
$sc-file_upload: \e2c6;
$sc-find_in_page: \e880;
$sc-find_replace: \e881;
$sc-g_translate: \e95a;
$sc-people: \e7fb;
$sc-home: \e88a;
$sc-import_contacts: \e0e0;
$sc-keyboard_arrow_down: \e313;
$sc-keyboard_arrow_left: \e314;
$sc-keyboard_arrow_right: \e315;
$sc-keyboard_arrow_up: \e316;
$sc-print: \e8ad;
$sc-room: \e8b4;
$sc-loupe: \e402;
$sc-mail_outline: \e0e1;
$sc-map2: \e55b;
$sc-note_add: \e89c;
$sc-people_outline: \e7fc;
$sc-person_outline: \e7ff;
$sc-perm_phone_msg: \e8a8;
$sc-person: \e7fd;
$sc-person_add: \e7fe;
$sc-personal_video: \e63b;
$sc-phone_android: \e324;
$sc-play_circle_filled: \e038;
$sc-public: \e80b;
$sc-security: \e32a;
$sc-sentiment_dissatisfied: \e811;
$sc-sentiment_neutral: \e812;
$sc-sentiment_satisfied: \e813;
$sc-sentiment_very_dissatisfied: \e814;
$sc-sentiment_very_satisfied: \e815;
$sc-settings: \e8b8;
$sc-sort: \e164;
$sc-subdirectory_arrow_right: \e5da;
$sc-subscriptions: \e064;
$sc-subtitles: \e048;
$sc-subway: \e56f;
$sc-unfold_more: \e5d7;
$sc-verified_user: \e8e8;
$sc-vertical_align_bottom: \e258;
$sc-vertical_align_center: \e259;
$sc-vertical_align_top: \e25a;
$sc-view_list: \e8ef;
$sc-web: \e051;
$sc-youtube_searched_for: \e8fa;
$sc-zoom_in: \e8ff;
$sc-zoom_out: \e95b;
$sc-box: \e964;
$sc-write: \e960;
$sc-search22: \e97c;
$sc-trash: \e965;
$sc-bubbles: \e973;
$sc-user22: \e972;
$sc-users: \e9b4;
$sc-folder2: \e977;
$sc-cog: \e962;
$sc-tag2: \e976;
$sc-cart: \e974;
$sc-chart: \e961;
$sc-up: \e979;
$sc-windows: \e963;
$sc-play32: \e978;
$sc-refresh: \e96d;
$sc-lock: \f023;
$sc-calendar: \f073;
$sc-angle-down: \f107;
$sc-paper-plane-o: \f1d9;
$sc-send-o: \f1d9;

