.app-header {
  background: rgb(19, 59, 93);
  color: #fff;
  padding-bottom: 3em;
  margin-bottom: 2em;

  .logo-img {
    width: 120px;
    background: #f3f3f3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    img {
      width: 100%;
      display: block;
    }
  }
  h1 {
    @extend .font-display;
    font-size: 36px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  }

  .github-btn {
    .gh-count {
      margin-right: 1em;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
