// Media Query Ranges
$small-screen-up: 768px;
$medium-screen-up: 992px;
$large-screen-up: 1200px;
$small-screen: 767px;
$medium-screen: 991px;
$large-screen: 1199px;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})';
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})';
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})';
$small-and-down: 'only screen and (max-width : #{$small-screen})';
$medium-and-down: 'only screen and (max-width : #{$medium-screen})';
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})';
