$notosans-font-path: '#{$notosans-font-path}' !default;

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(#{$notosans-font-path}/eot/NotoSansKR-Thin-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-Thin-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-Thin-Hestia.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(#{$notosans-font-path}/eot/NotoSansKR-Light-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-Light-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-Light-Hestia.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 350;
  src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(#{$notosans-font-path}/eot/NotoSansKR-DemiLight-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-DemiLight-Hestia.woff)
      format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-DemiLight-Hestia.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(#{$notosans-font-path}/eot/NotoSansKR-Regular-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-Regular-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-Regular-Hestia.woff)
      format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-Regular-Hestia.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(#{$notosans-font-path}/eot/NotoSansKR-Medium-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-Medium-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-Medium-Hestia.woff)
      format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-Medium-Hestia.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(#{$notosans-font-path}/eot/NotoSansKR-Bold-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-Bold-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-Bold-Hestia.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(#{$notosans-font-path}/eot/NotoSansKR-Black-Hestia.eot),
    url(#{$notosans-font-path}/eot/NotoSansKR-Black-Hestia.eot?#iefix)
      format('embedded-opentype'),
    url(#{$notosans-font-path}/woff/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(#{$notosans-font-path}/otf/NotoSansKR-Black-Hestia.otf)
      format('opentype');
}
